ALTER TABLE offrestage CHANGE statut statut VARCHAR(255) DEFAULT NULL;
ALTER TABLE project CHANGE end_date end_date DATE DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE book_categorie CHANGE status status VARCHAR(20) DEFAULT 'active' NOT NULL;
ALTER TABLE question RENAME INDEX idx_formulaire TO IDX_B6F7494E5053569B;
ALTER TABLE depots CHANGE file_size file_size VARCHAR(50) DEFAULT NULL, CHANGE file_type file_type VARCHAR(100) DEFAULT NULL;
ALTER TABLE depots RENAME INDEX idx_3353c6ec166d1f9c TO IDX_D99EA427166D1F9C;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
