ALTER TABLE inscrit_event CHANGE status status VARCHAR(20) DEFAULT 'En attente' NOT NULL;
ALTER TABLE user CHANGE roles roles JSON NOT NULL;
ALTER TABLE offrestage CHANGE statut statut VARCHAR(255) DEFAULT NULL;
ALTER TABLE offrestage RENAME INDEX fk_629dfb7c93939e42 TO IDX_DD0B5D06ABE6DBAB;
ALTER TABLE stagecondidature DROP etudiant_id, CHANGE id_etudiant id_etudiant INT DEFAULT NULL;
ALTER TABLE stagecondidature ADD CONSTRAINT FK_D2E308D721A5CE76 FOREIGN KEY (id_etudiant) REFERENCES user (id);
ALTER TABLE stagecondidature ADD CONSTRAINT FK_D2E308D74103C75F FOREIGN KEY (id_offre) REFERENCES offrestage (id);
CREATE INDEX IDX_D2E308D721A5CE76 ON stagecondidature (id_etudiant);
CREATE INDEX IDX_D2E308D74103C75F ON stagecondidature (id_offre);
ALTER TABLE project CHANGE end_date end_date DATE DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE book_categorie CHANGE status status VARCHAR(20) DEFAULT 'active' NOT NULL;
ALTER TABLE question DROP FOREIGN KEY `FK_FORMULAIRE`;
ALTER TABLE question ADD CONSTRAINT FK_B6F7494E5053569B FOREIGN KEY (formulaire_id) REFERENCES formulaire (id) ON DELETE CASCADE;
ALTER TABLE question RENAME INDEX idx_formulaire TO IDX_B6F7494E5053569B;
ALTER TABLE depots CHANGE file_size file_size VARCHAR(50) DEFAULT NULL, CHANGE file_type file_type VARCHAR(100) DEFAULT NULL;
ALTER TABLE depots RENAME INDEX idx_3353c6ec166d1f9c TO IDX_D99EA427166D1F9C;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
